ion-content {
  background: linear-gradient(
      217deg,
      rgba(192, 178, 122, 0.199),
      rgba(3, 19, 109, 0) 45%
    ),
    linear-gradient(127deg, rgba(48, 82, 4, 0.8), rgb(109, 119, 43, 0) 110%),
    linear-gradient(336deg, rgba(17, 31, 0, 0.8), rgba(159, 109, 40, 0) 110%);
}
h1 {
  color: #e7dba8;
  font-size: xxx-large;
  font-weight: bold;
}
a {
  color: #eeeeee;
  font-weight: lighter;
  font-style: oblique;
}
img {
  border: 3px solid #e7dba8;
}
h2 {
  color: #e7dba8;
}
p {
  color: #e7dba8;
  font-size: larger;
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ion-item {
  color: #e7dba8;
  background-color: #6d772b;
}
table,
th,
td {
  border: 3px solid #47500f;
  text-align: center;
}

tr {
  color: #e7dba8;
}
