ion-content {
  background: #6d772b
}
h1 {
  color: #e7dba8;
  font-size: xxx-large;
  font-weight: bold;
}
a {
  color: #e7dba8;
  font-weight: lighter;
  font-style: oblique;
}
img {
  border: 7px solid #e7dba8;
  border-radius: 50px;
}
h2 {
  color: #e7dba8;
}
p {
  color: #e7dba8;
  font-size: larger;
}
ion-item {
  color: #d8d6cc;
  background-color: #6d772b;
}
